/*-- scss:defaults --*/

$body-bg: #181818;
$body-color: white;
$link-color: #cc5500;

/*-- scss:mixins --*/

// Modify the body width
$grid-screen-inset-padding: 1.5em;
$grid-body-minsize: 600px;
$grid-body-minsize-slim: 500px;
$grid-body-maxsize-mid: calc(800px - #{2 * $grid-screen-inset-padding});
$grid-body-maxsize-float-wide: calc(1000px - #{2 * $grid-screen-inset-padding});
$grid-body-maxsize-docked-wide: calc(1200px - #{2 * $grid-screen-inset-padding});
$grid-body-maxsize-plain-wide: calc(1400px - #{2 * $grid-screen-inset-padding});
$grid-body-maxsize-listing: calc(1200px - #{2 * $grid-screen-inset-padding});

@mixin page-columns-float-wide {
  @include page-columns();
  grid-template-columns:
    [screen-start] $grid-screen-inset-padding
    [screen-start-inset] 5fr
    [page-start] minmax(25px, 100px)
    [page-start-inset] minmax(50px, 175px)
    [body-start-outset] minmax(25px, 50px)
    [body-start] 2em
    [body-content-start] minmax(
      $grid-body-minsize,
      $grid-body-maxsize-float-wide
    )
    [body-content-end] 2em
    [body-end] minmax(25px, 50px)
    [body-end-outset] minmax(50px, 150px)
    [page-end-inset] minmax(25px, 50px)
    [page-end] 5fr
    [screen-end-inset] $grid-screen-inset-padding
    [screen-end];
}

#quarto-margin-sidebar {
  width: 250px;
}

// configure navbar logo and remove odd spacking when search is included
.navbar-dark {background-color: #cc5500 !important;}
.navbar-logo {max-height: 50px!important;}

#quarto-search {
  margin-left: 0px !important;
}

@media (max-width: 991.98px) { g
  // moves social icons and search to the top-right; fixes spacing and aligment
  #navbarCollapse {
    display: inline-flex;
    align-items: flex-start;
  }
  #navbarCollapse > ul:nth-of-type(2) {
    flex-direction: row;
  }
  #quarto-search > div.aa-Autocomplete {
    padding-top: 8px;
  }
}
