<footer class="row site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper col">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>

<script>
  // method will ensure the floating header isn't covering the note header
  function goToNote(elId) {
    const el = document.getElementById(elId);
    const elPos = el.getBoundingClientRect().top + document.documentElement.scrollTop;
      
    window.focus();
    window.scrollTo(0, elPos - 90);
  }

  // ensure target note shows below floating header on # change
  window.addEventListener("hashchange", (ev) => { 
    const hash = ev.target.location.hash
    if (hash) {
      goToNote(hash.substring(1))
    }
  });

  // onload, ensure note shows below floating header
  window.addEventListener("load", (ev) => { 
    const hash = ev.target.location.hash
    if (hash) {
      goToNote(hash.substring(1))
    }
  });
</script>