<div class="Box box-shadow-medium rounded-1 row mobile-hide">
    {%- if post.image -%}
    <div class="d-table-cell p-3 v-align-middle" style="width:250px;height:auto;">
        <img class="image-preview" style="max-width:100%; max-height:100%;" src="{{ post.image | relative_url }}" />
      </div>
    {%- endif -%}
    <div class="col d-table-cell p-3">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
          <p class="post-meta">{{ post.date | date: date_format }}</p>
      </div>
  </div>

  <div class="Box box-shadow-medium rounded-1 desktop-hide">
    {%- if post.image -%}
    <div class="p-3 v-align-middle" style="text-align: center;">
        <img class="image-preview " style="max-width:250; height:auto;" src="{{ post.image | relative_url }}" />
      </div>
    {%- endif -%}
    <div class="p-3">
        <h6>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h6>
        <p class="post-meta-description">{{ post.description }}</p>
          <p class="post-meta">{{ post.date | date: date_format }}</p>
      </div>
  </div>