// Import styles for fastpages.
@import "minima/fastpages-styles";
@import "minima/fastpages-dracula-highlight"; 

// Add your styles below
.wrapper { width: 90% !important; max-width: 90% !important; }

a, a:visited {color: #ca6328 !important; }

a.nostyle, a.nostyle:hover, a.nostyle:focus, a.nostyle:active {
    text-decoration: none !important;
    color: #000 !important;
}

// header
.site-header { padding: 5px !important; border-top: none !important;  background-color: #ca6328; }
.site-header { position: -webkit-sticky; position: sticky; top: 0; z-index: 9999; }    
.site-nav { background-color: #ca6328; }
.site-nav .page-link .top-menu-text { color: #ffffff;}

// footer
.site-footer { padding: 5px 0; background-color: #ca6328; }
.footer-col-wrapper { color: #ffffff !important;}

.feed-subscribe a span { color: #ffffff !important;}

.social-media-list li a { background-color: #e8e8e8; border: black solid thin !important; }
.social-media-list li a.fa-icon, .pagination li a.fa-icon { width: 42px; height: 42px; text-align: center; }
.social-media-list li a.fa-icon i.far, .pagination li a.fa-icon i.far { color: #828282 !important }

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .col-9 .col-3 {
        width: 100%;
    }
}

